.employeeList{
    display: grid;
    place-items: center;
}

.employeeList > table{
    margin: 30px 0;
    width: 100%;
    padding: 0 30px;
}

.employeeList > table > thead > tr{
    background-color: lightgray;
}

.employeeList > table > thead > tr > th{
    vertical-align: top;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

.employeeList > table > tbody > tr > td{
    border: 1px solid #ddd;
    padding: 8px 10px;
    text-align: center;
}

.employeeList > table > tbody > tr > td > button{
    margin: 0 5px;
    width: 45%;
}

.employeeList__search{
    padding: 30px 0 5px 0;
    margin: auto;
}

.search__input{
    padding: 5px 10px;
    width: 500px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.employeeList__deleteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 5px;
    outline: none;
    padding: 30px;
}
  
.employeeList__deleteModal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 49, 49, 0.75);
}

.employeelist__modalbtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}